[Unit]
Description=lsm9ds1 3D accelerometer, gyroscope and magnetometer service

[Service]
User=root
Type=simple
ExecStartPre=lsm9ds1 --configure
ExecStart=lsm9ds1 --silent --socket-udp 127.0.0.1:5060
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
